{% extends 'site_base.html' %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}tournament/css/tournament.css" />
{% endblock %}

{% block subnav %}{% endblock %}

{% block main_content %}{% endblock %}

{% block sidebar %}
<div id="sponsors">
<h2>{% blocktrans %}Sponsors{% endblocktrans %}</h2>

<p>{% blocktrans %}This tournament is possible thanks to the help of our sponsors.{% endblocktrans %}

{% for sponsor in tournament.sponsors.all %}
<div class="sponsor">
<a href="{{ sponsor.url}}" title="{{ sponsor.motto }}"><img src="{{ MEDIA_URL }}banners/{{ sponsor.banner_filename }}" alt="{{ sponsor.motto }}"/></a></p>
</div>
{% endfor %}

</div>

{% block extra_sidebar %}{% endblock %}


{% endblock %}
